In [170]:
import pandas as pd

![title](img/salario.jpg)

# Salarios dos Servidores Brasileiros - Janeiro 2020

In [112]:
df=pd.read_csv('202001_Remuneracao.csv',sep=';',encoding='ISO-8859-1')

In [113]:
#Mudando a configuração de "," para "."
df.iloc[:,5:]=df.iloc[:,5:].apply(lambda x: x.str.replace(',','.'))

In [114]:
#Mudando o dtype para float
df.iloc[:,5:]=df.iloc[:,5:].astype(float)

In [144]:
#Algumas informações relevantes sobre o dataset - já podemos ver algumas informações interessantes..como podemos ter remumeração bruta após deduções negativa?
df.describe()

,MES,Id_SERVIDOR_PORTAL,REMUNERAÇÃO BÁSICA BRUTA (R$),REMUNERAÇÃO BÁSICA BRUTA (U$),ABATE-TETO (R$),ABATE-TETO (U$),GRATIFICAÇÃO NATALINA (R$),GRATIFICAÇÃO NATALINA (U$),ABATE-TETO DA GRATIFICAÇÃO NATALINA (R$),ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$),...,REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*),VERBAS INDENIZATÓRIAS PROGRAMA DESLIGAMENTO VOLUNTÁRIO  MP 792/2017 (R$),VERBAS INDENIZATÓRIAS PROGRAMA DESLIGAMENTO VOLUNTÁRIO  MP 792/2017 (U$),TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*)
count,535862.0,5.358620e+05,535862.000000,5.358620e+05,535862.000000,535862.0,535862.000000,535862.0,535862.000000,535862.0,...,535862.000000,5.358620e+05,535862.000000,5.358620e+05,535862.000000,535862.0,535862.000000,535862.0,535862.000000,5.358620e+05
mean,1.0,9.782748e+06,10105.817445,5.411841e-07,-7.827817,0.0,350.415527,0.0,-0.000302,0.0,...,8787.617462,4.851995e-07,680.878831,3.545689e-07,0.049437,0.0,0.133829,0.0,681.062096,3.545689e-07
std,0.0,1.958352e+07,7102.511751,3.961608e-04,225.743305,0.0,1626.571840,0.0,0.220812,0.0,...,6063.550092,3.551787e-04,564.250688,2.595536e-04,27.834733,0.0,9.406040,0.0,565.006197,2.595536e-04
min,1.0,1.000000e+00,0.000000,0.000000e+00,-25502.500000,0.0,-5214.410000,0.0,-161.640000,0.0,...,0.010000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.0,0.000000,0.000000e+00
25%,1.0,2.605960e+06,4881.292500,0.000000e+00,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,4541.750000,0.000000e+00,458.000000,0.000000e+00,0.000000,0.0,0.000000,0.0,458.000000,0.000000e+00
50%,1.0,5.211072e+06,8037.560000,0.000000e+00,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,7195.420000,0.000000e+00,595.090000,0.000000e+00,0.000000,0.0,0.000000,0.0,595.090000,0.000000e+00
75%,1.0,7.817203e+06,13273.520000,0.000000e+00,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,11715.390000,0.000000e+00,813.390000,0.000000e+00,0.000000,0.0,0.000000,0.0,813.470000,0.000000e+00
max,1.0,1.728178e+08,64795.840000,2.900000e-01,0.000000,0.0,22157.950000,0.0,0.000000,0.0,...,93205.650000,2.600000e-01,115516.680000,1.900000e-01,19111.170000,0.0,1710.600000,0.0,115516.680000,1.900000e-01

In [143]:
#Vou deletar os salarios negativos para não afetar muito a análise
df=df[df['REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)']>0]

,ANO,MES,Id_SERVIDOR_PORTAL,CPF,NOME,REMUNERAÇÃO BÁSICA BRUTA (R$),REMUNERAÇÃO BÁSICA BRUTA (U$),ABATE-TETO (R$),ABATE-TETO (U$),GRATIFICAÇÃO NATALINA (R$),...,REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*),VERBAS INDENIZATÓRIAS PROGRAMA DESLIGAMENTO VOLUNTÁRIO  MP 792/2017 (R$),VERBAS INDENIZATÓRIAS PROGRAMA DESLIGAMENTO VOLUNTÁRIO  MP 792/2017 (U$),TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*)
537107,2020,1.0,7400917.0,***.425.967-**,ZURLINDE CABRAL LOURO JUNIOR,11643.75,0.0,0.0,0.0,0.0,...,9208.71,0.0,595.53,0.0,0.0,0.0,0.0,0.0,595.53,0.0
537108,2020,1.0,216805.0,***.651.506-**,ZUY MARIA MAGRIOTIS,19646.82,0.0,0.0,0.0,0.0,...,13624.88,0.0,579.14,0.0,0.0,0.0,0.0,0.0,579.14,0.0
537109,2020,1.0,1307290.0,***.034.989-**,ZUZANA RENDAKI MIKOS,4801.59,0.0,0.0,0.0,0.0,...,4300.70,0.0,732.18,0.0,0.0,0.0,0.0,0.0,732.18,0.0
537110,2020,1.0,8504240.0,***.041.463-**,ZUZITA DOS SANTOS VIANA,6612.02,0.0,0.0,0.0,0.0,...,5663.08,0.0,588.71,0.0,0.0,0.0,0.0,0.0,588.71,0.0
537111,2020,1.0,8915543.0,***.857.198-**,ZYSMAN NEIMAN,17945.81,0.0,0.0,0.0,0.0,...,12370.70,0.0,671.53,0.0,0.0,0.0,0.0,0.0,671.53,0.0

In [152]:
#Começando a análise - qual a média/mediana salarial após deduções dos servidores?
df['REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)'].mean()

8787.617462349854

A média salarial é bem alta se compararmos com o salário mínimo e também maior que o salário de engenheiro em muitos casos...

In [142]:
# Qual o top 10 salários após deduções?
df.sort_values('REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)',ascending=False)[['NOME','REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)']].head(10)

,NOME,REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)
416894,PAULO DO CARMO MARTINS,93205.65
342464,MARCIO LUIZ DE FREITAS NAVES DE LIMA,69210.46
164395,FABIO AUGUSTO FUJITA,67988.90
390901,MIRIAM MENNA BARRETO,65514.54
445197,RENATO TORRES GONCALVES,62779.48
4701,ADRIANA CRISTINA DULLIUS,61110.29
152324,EMERSON ABDULMASSIH WOOD DA SILVA,60621.55
58820,ARILDO PINTO DA CUNHA,60276.24
220271,IGOR DALTRO FERNANDES,60151.52
146930,ELIOMAR ANTONIO ALVES,60086.59

 Parece que somente no top 10 salário, TODOS ganharam mais que o teto salarial constitucional de 39 mil R$.

In [159]:
#Quantas pessoas ganharam mais que o teto?
df[df['REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)']>39000][['NOME','REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)']].sort_values('REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)',ascending=False)

,NOME,REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)
416894,PAULO DO CARMO MARTINS,93205.65
342464,MARCIO LUIZ DE FREITAS NAVES DE LIMA,69210.46
164395,FABIO AUGUSTO FUJITA,67988.90
390901,MIRIAM MENNA BARRETO,65514.54
445197,RENATO TORRES GONCALVES,62779.48
...,...,...
421794,PAULO ZARATE PEREIRA,39027.51
208309,GUSTAVO CUNHA GARCIA,39017.25
164391,FABIO AUGUSTO DE VASCONCELOS COELHO,39015.46
40770,ANDRE LUIS SOARES DE MATOS,39015.46
277680,JULIANA RABELO,39008.23

2742 servidores tiveram uma remuneração após deduções maior que o teto constitucional de 39.000 R$....

In [167]:
#Vamos dar uma olhada nas verbas indezatórias?
df['TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)'].sum()/1000000

364.95529714

 Só em verbas indenizatórias o governo gastou 365 milhões de reais..

In [169]:
#Vamos dar uma olhada no top 20 servidores que mais ganharam verbas?
df.sort_values('TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)',ascending=False)[['NOME','TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)']].head(20)

,NOME,TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)
421985,PEDRO ANTONIO ARRAES PEREIRA,115516.68
207859,GUMERCINDO PEREIRA FILHO,71508.44
55381,ANTONIO LUIS MACHADO DE MORAES,69597.57
348773,MARCOS ROGERIO ALVES RIBEIRO,66887.89
223053,IRAILDES MAGALHAES MONTIJO BANDEIRA,63832.77
509038,TIMOTHY JOHN BROCKSOM,54871.02
518155,VASSILIOS THEOFILIS,54746.69
504887,THEODOMIRO PEREIRA DA SILVA FILHO,54000.49
344784,MARCO AURELIO SALTURI,47362.04
252990,JORGE CEZAR COSTA,43203.37
3383,ADILSON ELIAS XAVIER,41060.02
258903,JOSE CARLOS GOMES DA SILVA,37761.49
38202,ANDERSON JOSE SANT ANNA DE OLIVEIRA,36492.89
132826,EDILSON VASCONCELOS QUEIROZ,36492.89
440515,REINALDO TAKARABE,36286.53
291714,LAURA TAVARES RIBEIRO SOARES,33183.82
293434,LEANDRO FONSECA DA SILVA,32100.78
27416,AMELIA MARIA RIBEIRO DE JESUS,31839.52
319554,LUIS ROBERTO DA SILVA MACEDO,30614.55
10840,ALAOR CARVALHO,30568.20

# O que será que esses servidores fazem com tanta verba...?